body {
	background-color: #606c88;
}
a{
	color: white;
}
header, footer{
	background-color: #353f56;
}

#bloc_page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	margin: auto;
}
nav {
	display: flex;
	align-items: center;
	justify-content: center;
}
nav ul {
	list-style-type: none;
	display: flex;
	align-items: center;
	min-width: 100%;
	justify-content: space-around;
}

/*classes*/

.top10{
	margin-top: 10px;
}
